#content

  %a{href: "https://github.com/415bike", id: "iphone"}
    %img{src: "images/415bike-iphone.png"}
  
  #guts
    %h1 415 Bike

    %p
      The iOS app for San Francisco bicyclists. Subscribe and we'll email you when it's ready.
      
    %p

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="http://sikelianos.us6.list-manage.com/subscribe/post?u=eb1baf73af6cc872dd06ed858&amp;id=51f98f78f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
      </div>
      <!--End mc_embed_signup-->

    %ul.features
      %li
        All Bike Lanes
      %li
        Cached map tiles for offline use
      %li
        Dangerous intersections
      %li
        Bike parking
      %li
        Markers for BART and Caltrain
      %li
        %a{href: "https://github.com/415bike"} Open Source
        
    %p.colophon
      Made with love by
      %a{href: "http://twitter.com/mattt"}@mattt
      and
      %a{href: "http://twitter.com/zeke"}@zeke
