#content

  %a{href: "https://github.com/415bike", id: "iphone"}
    %img{src: "images/415bike-iphone.png"}
  
  #guts
    %h1 415 Bike

    %p
      An iOS app designed for San Francisco bicyclists.

    %ul.features
      %li
        All Bike Lanes
      %li
        Dangerous Intersections
      %li
        Bike Parking
      %li
        Markers for BART and Caltrain
      %li
        %a{href: "https://github.com/415bike"} Open Source
  
  