!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title 415 Bike
    %link{rel: "stylesheet", href: "/css/app.css", type: 'text/css', media: "screen", charset: "utf-8"}
    %script{type: "text/javascript", src:"/js/app.js"}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  %body
    = yield